<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User Management</title>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <link href="styles/index.css" rel="stylesheet">
</head>
<body>
    <div class="container">
        <div class="row">
            <div class="col-md-10 offset-md-1 user-table-container">
                <h1>User Management</h1>
                <a href="/generate_pdf" class="btn btn-primary">Generate PDF</a>

                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th>ID</th>
                            <th>Name</th>
                            <th>Email</th>
                            <th>Date of Birth</th>
                            <th>Gender</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for user in users %}
                        <tr>
                            <td>{{ user[0] }}</td>
                            <td>{{ user[1] }}</td>
                            <td>{{ user[2] }}</td>
                            <td>{{ user[3] }}</td>
                            <td>{{ user[4] }}</td>
                            <td>
                                <form action="/edit/{{ user[0] }}" method="GET">
                                    <button class="btn btn-primary" type="submit">Edit User</button>
                                </form>
                                <form action="/delete/{{ user[0] }}" method="POST">
                                    <button class="btn btn-danger" type="submit">Delete User</button>
                                </form>
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>

                <div class="text-center">
                    <a href="/register" class="btn btn-primary">Register User</a>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
